.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #ffffff;
    background-color: #3ca0a3;
    border-color: #3ca0a3;
}

.title, .author, .date {
  font-family: "Ubuntu";
  text-align: center;
  color: #252a4b;
}

body {
  text-align: justify;
}

a {
  color: #3ca0a3;
}

a:hover {
  color: #272b4a;
}

h1 {
  color: #272b4a;
}

h2 {
  color: #3e4a6b;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: #3e4a6b;
    background-color: #ffffff;
    border: 1px solid #272b4a;
    border-bottom-color: transparent;
    cursor: default;
}